{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
<!-- <div><p> -->
    {% for evento in mostrar %}
    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src= "{{evento.imagen.url}}" alt="" style="width: 50%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2>
                <span class="section-heading-lower" >{{ evento.titulo}} </span>
              </h2>    
                <span class="section-heading-lower" >Te invitamos el: {{ evento.fecha}}</span>
                <span class="section-heading-lower" >A las: {{ evento.hora}}</span>
                <span class="section-heading-lower" >en: {{ evento.lugar}}</span>
                <p class="mb-3">{{ evento.descripcion}}</p>
                <div style="text-align: left; font-size: 0.8em;">

                  INVITA: FUNDACIÓN PUEBLO
      
                  
                </div>
              
            </div>
          </div>
        </div>
      </section>

   <!-- <h2 style="color: aliceblue;">{{ evento.titulo}}</h2>  cambiamos el css 

   <p><img src="{{evento.imagen.url}}"</p>

   <h2 style="color: aliceblue;">{{ evento.categoria}}</h2>

</p></div> -->
    {% endfor %} 
    {% if is_paginated  %}
    <div  class="mt-2" style="width:15%; margin: auto; text-align: center; color: darkgreen;" >
      <ul class="pagination" style="color:darkgreen ;" >
        {% if page_obj.has_previous %}
        <li class="pagina-item" style="color:darkgreen ;" >
          <a href="?page={{ page_obj.previous_page_number }}" class="page-link" style="color:darkgreen ;">Anterior</a>
        </li>
        {% else %}
        <li class="pagina-item disabled">
          <a href="#" class="page-link">Anterior</a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
          <li class="pagina-item {% if page_obj.number == i %} active {% endif %}">
            <a href="?page={{ i}}" class="page-link">{{ i}}</a>
          </li>
        {% endfor %}	
        {% if page_obj.has_next %}
          <li class="pagina-item">
            <a href="?page={{ page_obj.next_page_number}}" class="page-link">Siguiente</a>
          </li>
        {% else %}
        <li class="pagina-item disabled">
          <a href="#" class="page-link">Siguiente</a>
        </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}



{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">

<body>
   Servicios 
</body>
</html> -->