{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
<!-- <div><p> -->
    {% for evento in mostrar %}
    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src= "{{evento.imagen.url}}" alt="" style="width: 50%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower" >{{ evento.titulo}}</span>
                <span class="section-heading-upper">{{ evento.categoria}}</span>
              </h2>
            </div>
          </div>
        </div>
      </section>

   <!-- <h2 style="color: aliceblue;">{{ evento.titulo}}</h2>  cambiamos el css 

   <p><img src="{{evento.imagen.url}}"</p>

   <h2 style="color: aliceblue;">{{ evento.categoria}}</h2>

</p></div> -->
    {% endfor %} -->
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">

<body>
   Servicios 
</body>
</html> -->