{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}




<div><p style="color:white">estoy en registro</p></div>

{% endblock %}

<!-- 
<main class="form-signin w-100 m-auto">
  
  <form method="post"> 
    <img class="mb-4" src="" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Inicia Sesión.</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="username">
      <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Contraseña</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    
    <button type="submit" class="btn btn-dark">Entrar</button>
    <a href="{% url 'Login' %}" ><button type="button" class="btn btn-dark">Crearte una cuenta</button></a>


  </form> -->