{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}




<h1>Hola {{user}} </h1>
{% for evento in agenda %}



    

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">		
	<div class="card">
		<div class="row row-striped" style="color:white ;">
			<div class="col-2 text-right" style="color:white ;">
				<h1 class="display-4" style="color:white ;"><span class="badge badge-secondary">23</span></h1>
				<h2 style="color:white ;">OCT</h2>
			</div>
			<div class="col-10" style="color:white ;">
				<h3 class="text-uppercase" style="color:white ;"><strong>{{evento.titulo}}</strong></h3>
				<ul class="list-inline" style="color:white ;">
				 
					<li class="list-inline-item" style="color:white ;"><i class="fa fa-clock-o" aria-hidden="true"></i>{{evento.imagen}}</li>
					
				</ul>
				<p style="color:white ;">DETALLE: La actividad consiste en algo, y el lugar será en dirección en Av. Siempreviva 742.</p>
				<p style="color:white ;">MODALIDAD: La actividad consiste en algo, y el lugar será en dirección en Av. Siempreviva 742.</p>
			</div>
		</div>
		<br>
{% endfor %}
{% endblock %}
<!-- <div><p></p></div> -->

