{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<h1 style="color:white ; margin: autos;">Hola {{user}} </h1>

{% else %}
<h1 style="color:white ; margin: autos;">Bienvenido!! </h1>
{% endif%}
<div class="container">
	<div class="row">


{% for evento in agenda %}
<div class="col-md-4">
  <div class="card" style="width: 100% ; margin: 5px 5px;">
	<img src="{{evento.imagen.url}}" class="card-img-top">
	<div class="card-body" style="text-align:center;">
		<h7 class="card-title">{{evento.titulo}}</h7>
		<p class="card-text">{{evento.categoria}}</p>

		<!-- <button type="button" class="btn btn-success">Crear</button> -->
		 
	</div>

	<div class="card-footer text-center">
		{% if user.es_admin or user.is_superuser %}

		<a href=" {% url 'CrearEvento' %}   " class="btn btn-success">Crear</a>&nbsp; &nbsp; 
		<a href=" {% url 'editar' evento.id %}   "><button type="button" class="btn btn-success">Editar</button></a>&nbsp; &nbsp; 
		<a href=" {% url 'Eliminar' evento.id%}"><button type="button" class="btn btn-success">Eliminar</button></a>&nbsp; &nbsp; 
		
	    {% endif %}
		<br><br>
		<a class="btn btn-success">Asistir</a> 
	</div>
 </div>
</div>

{% endfor %}
</div>
</div>
{% if is_paginated  %}
<div  class="mt-2" style="width:15%; margin: auto; text-align: center; color: darkgreen;" >
  <ul class="pagination" style="color:darkgreen ;" >
	{% if page_obj.has_previous %}
	<li class="pagina-item" style="color:darkgreen ;" >
	  <a href="?page={{ page_obj.previous_page_number }}" class="page-link" style="color:darkgreen ;">Anterior</a>
	</li>
	{% else %}
	<li class="pagina-item disabled">
	  <a href="#" class="page-link">Anterior</a>
	</li>
	{% endif %}
	{% for i in paginator.page_range %}
	  <li class="pagina-item {% if page_obj.number == i %} active {% endif %}">
		<a href="?page={{ i}}" class="page-link">{{ i}}</a>
	  </li>
	{% endfor %}	
	{% if page_obj.has_next %}
	  <li class="pagina-item">
		<a href="?page={{ page_obj.next_page_number}}" class="page-link">Siguiente</a>
	  </li>
	{% else %}
	<li class="pagina-item disabled">
	  <a href="#" class="page-link">Siguiente</a>
	</li>
	{% endif %}
  </ul>
</div>
{% endif %}




{% endblock %}

































<!-- <div><p></p></div> -->
<!-- ink href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<lscript src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- 
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">		
	<div class="card">
		<div class="row row-striped" style="color:white ;">
			<div class="col-2 text-right" style="color:white ;">
				<h1 class="display-4" style="color:white ;"><span class="badge badge-secondary">23</span></h1>
				<h2 style="color:white ;">OCT</h2>
			</div>
			<div class="col-10" style="color:white ;">
				<h3 class="text-uppercase" style="color:white ;"><strong>{{evento.titulo}}</strong></h3>
				<ul class="list-inline" style="color:white ;">
				 
					<li class="list-inline-item" style="color:white ;"><i class="fa fa-clock-o" aria-hidden="true"></i>{{evento.imagen}}</li>
					
				</ul>
				<p style="color:white ;">DETALLE: La actividad consiste en algo, y el lugar será en dirección en Av. Siempreviva 742.</p>
				<p style="color:white ;">MODALIDAD: La actividad consiste en algo, y el lugar será en dirección en Av. Siempreviva 742.</p>
			</div>
		</div> -->
		<!-- <br> --> -->

