{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <!--                                                               {{evento.imagen.url}}" -->
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src= " static\ProyectoWebApp\img\foto.jpg " alt="" >
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">NUESTROS DESEOS</span>
            <span class="section-heading-lower">Para nuestra gente</span>
          </h2>
          <p class="mb-3"> Es poder generar espacios que permitan a los ciudadanos desarrollar sus capacidades de
            investigación, reflexión, formulación, ejecución y control de proyectos educativos,
            culturales, deportivos, ambientales, productivos, económicos, fiscales, laborales y
            comunitarios para el desarrollo local, la inclusión social y la igualdad de género en
            vinculación con las Tecnologías de la Información y la Comunicación.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">CON LA COMUNIDAD</span>
              </h2>
              <p class="mb-0"> Queremos lograr la eliminación de la pobreza, el analfabetismo, el desempleo y la
                contaminación ambiental para que exista una verdadera igualdad social, política y
                económica en las comunidades.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
